
.border {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 35%;
  width: 500px; /* Ширина контейнера border */
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрируем содержимое по горизонтали */
  justify-content: center; /* Центрируем содержимое по вертикали */
  z-index: 1; /* Помещаем контейнер border поверх видео */
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0));
  border-radius: 15px; /* Сглаженные углы */
  padding: 20px; /* Внутренние отступы */
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрируем кнопки по горизонтали */
  justify-content: center; /* Центрируем кнопки по вертикали */
  width: 100%; /* Ширина секции кнопок равна ширине контейнера */
  height: 100%; /* Высота секции кнопок равна высоте контейнера */
}

.link_button {
  position: relative;
  font-size: 18px;
  width: 170px; /* Фиксированная ширина */
  height: 50px; /* Фиксированная высота */
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* Прозрачный фон у ссылок */
  color: #333; /* Цвет текста ссылок */
  border-radius: 12px; /* Скошенные углы */
  cursor: pointer;
  font-family: 'Nunito', sans-serif; /* Шрифт ссылок */
  text-decoration: none; /* Убираем подчеркивание */
  overflow: hidden;
  border: 2px solid #333;
}

.link_button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, rgba(128, 128, 128, 0.5));
  transition: left 0.3s;
  z-index: -1;
}

.link_button:hover::before {
  left: 0;
}

.link_button:hover {
  color: #fff;
}
