.cart_container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 80px;  /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
}
