.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 200px; /* Ширина каждого элемента меню */
  text-align: center; /* Центрирование заголовка */
  background: white;
  border-radius: 15px; /* Скошенные края */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта подъема */
  padding: 15px;
}

.image {
  width: 100%;
  height: 150px; /* Фиксированная высота для изображений */
  object-fit: cover; /* Масштабирование изображения с сохранением пропорций */
  border-radius: 10px;
}

.content {
  padding: 10px;
  text-align: center; /* Центрирование заголовка */
}

.description {
  text-align: justify; /* Выровнять текст описания по ширине */
}
